<div class ="row">
  <h1 class="text-center">Proyectos</h1>
  <div class="row row-cols-1 g-4">
    <div class="col-4">
      <div class="card">
        <%= image_tag "turismo.avif", width: "auto", height: "200"  %>
        <div class="card-body">
          <h5 class="card-title">Viajes Chile</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <%= link_to "Ir a Github", "https://github.com/JairoFR/viajes-chile", class: "btn btn-primary",target: "_blank", rel: "noopener"  %>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <%= image_tag "restaurant.jpg", width: "auto", height: "200"  %>
        <div class="card-body">
          <h5 class="card-title">Restaurant</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <%= link_to "Ir a Github", "https://github.com/JairoFR/ricomida", class: "btn btn-primary",target: "_blank", rel: "noopener"  %>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <%= image_tag "descuentos.webp", width: "auto", height: "200" %>
        <div class="card-body">
          <h5 class="card-title">Cupones</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
          <%= link_to "Ir a Github", "https://github.com/JairoFR/cuppon", class: "btn btn-primary",target: "_blank", rel: "noopener"  %>
        </div>
      </div>
    </div>
  </div>
</div>